.container {
  display: flex;
  justify-content: center;
}

.item {
  scroll-snap-align: center;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #070707;
  aspect-ratio: 9/16;
  width: 100%;
  max-width: 500px;
}
