.description {
  background: linear-gradient(0deg, rgba(0,0, 0,0.58) 0%, rgba(255,255,255,0) 60%);
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 300px 12px 20px;
  font-size: 14px;
  color: #fff;
  z-index: 0;
}

.author {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 14px;
}

.textWrapper {
  max-width: 290px;
  line-height: 1.3;
  padding-right: 32px;
}