.musicIcon {
  background-image: url(/assets/music-icon.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px 13px;
  width: 15px;
  height: 15px;
  padding-right: 20px;
}

.album {
  animation: rotate 4s infinite linear;
  background-image: url(/assets/album.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 49px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albumCover {
  width: 70%;
  border-radius: 50%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}