#root {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  place-content: center;
  overflow: hidden;
  height: 100vh;
  display: grid;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  display: block;
  border-radius: 3px;
  /* aspect-ratio: 9/16; */
  width: 100vw;
  max-width: 500px;
  
}